/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

}
ol, ul {
	list-style: none;
}
/* End of Reset */
/* Start of Custom Styles */
.content{
	padding: 0 0.938rem;
	margin: 0 auto;
}

/* Navigation Section */
#name{
	position: fixed;
	padding-top: 10px;
}
.name-logo{
	color: #555;
	font-size: 150%;
	padding-left: 10px;
	text-transform: uppercase;
}

.top-navigation{
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
	box-shadow: 0px 0px 20px 0px #000;
}
.top-navigation > .content {
	max-width: 970px;
    height: 40px;
    margin: 0 auto;
}
.top-navigation .logo{
	height: 4.375rem;
}
.top-navigation .links {
    float: right;
	color: #838994;
	font-size: 1.04rem;
	margin-top: 10px;
	letter-spacing: 0.03em;		
-    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
	margin-left: 1.563rem;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.description {
	max-width: 395px;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid rgb(0,0,0);
	background-color: rgb(0,0,0);
	opacity: 0.6;
}
.flav{
	text-align: center;
	color: #fff;
}
.introduction{
	background-image: url('../img/leaf.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 40.938rem;
	overflow: auto;
	margin-bottom: 8px;
}
.introduction h1{
	margin-top: 17.5rem;
	font-size: 3.125rem;
}
.introduction h3{
	margin-top: 1.25rem;
	font-size: 1.563rem;
}
.introduction h1, .introduction h3{
	color: #fff;
	text-align: center;
	font-weight: 300;
	margin-bottom: 8px;
}
.introduction .buttons{
color: white;
text-align: center;
margin-top: 1.563rem;
}
.goals, .flav-sub, .social, .maps{
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    letter-spacing: 0.03em
}
section.goals p {
	padding: 0 15px;
}
section.location p {
	padding: 0 15px;
	}
.rehearse {
	color: #555;
	text-align: center;
  	font-size: 67px;
  	text-shadow: 2px 2px 2px #d3d3d3;
  	margin-top: 40px;
  	padding-top: 5px;
  	padding-bottom: 30px;
}
.flav-sub {
	color: #ffffff;
	text-align: center;
  	font-size: 67px;
  	text-shadow: 2px 2px 2px #d3d3d3;
  	padding-top: 5px;
  	padding-bottom: 30px;
}
.maps {
	color: #333;
	text-align: center;
  	font-size: 67px;
  	text-shadow: 2px 2px 2px #d3d3d3;
  	padding-bottom: 30px;
}
.portrait{
	float: left;
	max-width: 288px;
	margin-right: 18px;
	box-shadow: 4px 4px 4px #d3d3d3;
}
section.assign {
	width: 100%;
  	background-color: #333;
	margin: auto;
}
.project{
		display: block;
  		position: relative;
 		max-width: 1070px;
  		margin: auto;
}
.project:after {
content: '';
display: block;
clear: both;
}
.assign .illustration > li {
	width: 50%;
	float: left;
	list-style-type: none;
	margin-top: 5px;
	text-align: center;
}
.location .illustration > li {
	width: 50%;
	float: left;
	list-style-type: none;
	margin-top: 5px;
	text-align: center;
}
.caption{
	text-align: center;
}
.well{
	padding-bottom: 15px;
	text-align: center;
}
}
.social {
background-color: #fff;
overflow: auto;
padding-bottom: 9.375rem;
text-align: center;
clear: both;
}
.social hr {
border: 0;
border-top: 1px solid #eaebec;
margin: 1.313rem 0;
}
.social .icons > li {
border-radius: .25rem;
display: inline-block;
margin: 1.25rem 5px;
border: 1px solid #eaebec;
padding: 0.625rem 0;
}
.icons{
	padding-left: 45px;
}
.social .copy {
font-size: 0.9rem;
font-weight: 300;
color: #838994;
}
.live{
	text-align: center;

}
.clear{
	clear: both;
}
.mapsapi{
	text-align: left;
}
.well{
	color: #fff;
}
@media only screen and (max-width: 1010px) {
	.assign .illustration > li {
		float: none;
		width: 100%;
	}
	.location .illustration > li {
		float: none;
		width: 100%;
	}
}

@media only screen and (max-width: 630px) {
	#name {
		position: relative;
		text-align: center;
	}
	.top-navigation {
		height: 72px;
	}
	.top-navigation .links {
		float: none;
		text-align: center;
	}
}

@media only screen and (max-width: 500px) {
    .introduction  {
        padding: 3em 0;
    }
    .intro {
        font-size: 3em;
    }
    .portrait{
    	float: none;
    	margin: auto;
    	display: block;
    }
    .assign{
    	padding: 1em 0;
    }
    .social{
    	padding: 3em 0;
    }
    .assign .illustration li img {
		max-width: 100%;
		height: 100%;
	}
}

@media only screen and (max-width: 417px) {
	.top-navigation {
		height: 90px;
	}
}
.colleft{
   position: relative;
   width: 100%;
   right: 50%;
   background-color: #f4f4f4
}
.col1{
   position: relative;
   overflow: hidden;
   float: left;
   width: 48%;
   left: 101%;
   background-color: #e6e6e6
}
.col2{
   position: relative;
   overflow: hidden;
   float: left;
   width: 48%;
   left: 3%;
}
section.location {
	width: 100%;
  	background-color: #fff;
	margin: auto;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}