body {
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.content-footer,
.flavhead-heading,
.flavhead-intro, .social
{
  text-align: center;
}

.flavhead {
    padding: 6em 0;
    background-image: url('../img/leaf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1em #B87333;
}

.flavhead-intro {
    /* Layout Declarations */
    margin-bottom: 0.1em;
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    color: #ffffff;
    font-size: 2em;
}

.flavhead-heading {
    /* Layout Declarations */
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    color: #ffffff;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-shadow: 0px 4px 0px #FFCF33;
}

.content-footer,
.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.social > li {
    display: inline;
}

.introduction-section > p,
.location-section > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
}

section > h1 {
    margin-top: 2em;
}

.task-head{
  color: #FFCF33;
}

.rehearse{
  font-weight: 400px;
  text-shadow: 2px 2px 2px #d3d3d3;
}
@media only screen and (max-width: 500px) {
    .flavhead {
        padding: 3em 0;
    }
    .flavhead-heading {
        font-size: 3em;
    }
}